
.env
*.pyc
*.pyo
__pycache__
# don't include third-party dependencies.
lib/
!lib/README.md
.DS_Store
.devcontainer/neo4j-data
.devcontainer/neo4j-data/
.devcontainer/neo4j-logs/
.devcontainer/neo4j-import/
**/.venv

*.db
*.py[cod]
**/.web/
**/__pycache__/

.env
